.header {
	display: flex;
	justify-content: space-between;
	padding: 30px 100px;
}
.theme-toggler {
	display: flex;
	align-items: center;
	cursor: pointer;
	.icon {
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		transform: rotate(20deg);
		font-size: 16px;
		margin-right: 3px;
	}
}

@media screen and (max-width: 1024px) {
	.header {
		padding: 30px 50px;
	}
}

@media screen and (max-width: 768px) {
	.header {
		padding: 28px 20px;
		margin-bottom: 20px;
	}
}
